<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all" />
	<script type="text/javascript" src="/assets/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.jcarousel.min.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/png-fix.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/assets/functions.js"></script>
</head>
<body>
	<!-- Header -->
	<div id="header" class="shell">
	  <div id="logo"><h1><a href="#">BestSeller</a></h1>
	  </div>
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Promotions</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		<div class="cl">&nbsp;</div>
		<!-- Login-details -->
		<p align="">Welcome ADMIN!
		<!-- End Login-details -->
	</div>
	
	<!-- End Header -->
	
	
	<!-- Main -->
<div id="main" class="shell">
		<!-- Sidebar -->
		<div id="sidebar">
			<h4>Books on-sale List</h4>
			<br>
			<a href="" style="color:#0182b5;font-size:14pt">Add Book</h4>
	  </div>
		<!-- End Sidebar -->
		<!-- Content -->
		<div id="content">
			<h3>List of books on-sale</h3>
			<table id="list" frame="border" name="list" cellpadding="4" cellspacing="3" border="1" style="color:#0182b5;font-size:14pt" align="center">
			<tr>
				<th ><u>Name</u></th>
				<th><u>Price</u></th>
				<th><u>ISBN</u></th>
				<th><u>Edit</u></th>
				<th ><u>View</u></th>
				<th ><u>Delete</u></th>
			</tr>
			<tr>
			<td>JAVA</td>
			<td>300</td>
			<td>123456789</td>
			<td><input type="button" value="Edit" style="color:blue; font-size:14pt"></td>
			<td><input type="button" value="View" style="color:blue; font-size:14pt"></td>
			<td><input type="button" value="Delete" style="color:blue; font-size:14pt"></td>
			</tr>
			<tr>
			<td>DSS</td>
			<td>500</td>
			<td>12345679</td>
			<td><input type="button" value="Edit" style="color:blue; font-size:14pt"></td>
			<td><input type="button" value="View" style="color:blue; font-size:14pt"></td>
			<td><input type="button" value="Delete" style="color:blue; font-size:14pt"></td>
			</tr>
			</table>
		
		
  </div>
 
			<div class="cl">
			</div>
			
		</div>
		
		<!-- End Content -->
		<div class="cl">&nbsp;</div>
	</div><!-- Be
	<!-- End Main -->
	<!-- Footer -->
	<div id="footer" class="shell">
		<div class="top">
			<div class="cnt">
				<div class="col about">
					<h4>About BestSellers</h4>
					<p>Nulla porttitor pretium mattis. Mauris lorem massa, ultricies non mattis bibendum, semper ut erat. Morbi vulputate placerat ligula. Fusce <br />convallis, nisl a pellentesque viverra, ipsum leo sodales sapien, vitae egestas dolor nisl eu tortor. Etiam ut elit vitae nisl tempor tincidunt. Nunc sed elementum est. Phasellus sodales viverra mauris nec dictum. Fusce a leo libero. Cras accumsan enim nec massa semper eu hendrerit nisl faucibus. Sed lectus ligula, consequat eget bibendum eu, consequat nec nisl. In sed consequat elit. Praesent nec iaculis sapien. <br />Curabitur gravida pretium tincidunt.  </p>
				</div>
				<div class="col store">
					<h4>Store</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Special Offers</a></li>
						<li><a href="#">Log In</a></li>
						<li><a href="#">Account</a></li>
						<li><a href="#">Basket</a></li>
						<li><a href="#">Checkout</a></li>
					</ul>
				</div>
				<div class="col" id="newsletter">
					<h4>Newsletter</h4>
					<p>Lorem ipsum dolor sit amet  consectetur. </p>
					<form action="" method="post">
						<input type="text" class="field" value="Your Name" title="Your Name" />
						<input type="text" class="field" value="Email" title="Email" />
						<div class="form-buttons"><input type="submit" value="Submit" class="submit-btn" /></div>
					</form>
				</div>
				<div class="cl">&nbsp;</div>
				<div class="copy">
					<p>&copy; <a href="#">BestSeller.com</a>. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
</html>