<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>CSS Free Templates with jQuery Slider</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all" />
	<script type="text/javascript" src="/assets/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.jcarousel.min.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/png-fix.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/assets/functions.js"></script>
</head>
<body>
	<!-- Header -->
	<div id="header" class="shell">
	  <div id="logo"><h1><a href="#">BestSeller</a></h1>
	  </div>
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Promotions</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		<div class="cl">&nbsp;</div>
		<!-- Login-details -->
		
		<!-- End Login-details -->
	</div>
	
	<!-- End Header -->
	
	
	<!-- Main -->
<div id="main" class="shell">
		<!-- Sidebar -->
		<div id="cartlist">
				<div class="cart">
				<center>
					<p><font color="#FFFFFF" class="bg"> Cart (1)
				    </font></p>
				  </center>
				</div>
			<hr />
		</div>
		<div class="tbl">
			<table >
				<tr >
					<td class="item_cell"><center> ITEM</center></td>
					<td class="qty_cell"><center>QTY</center></td>
					<td class="price_cell"><center>PRICE</center></td>
					<td class="delivery_cell"><center>DELIVERY DETAILS</center></td>
					<td class="price_cell"><center>SUB TOTAL</center></td>
				</tr>
				<tr>
					<th class="item_value_cell"> <img src="/assets/books.png" height="100" width="100" align="left"/> <p align="left"> &nbsp;&nbsp;&nbsp;Advance JAVA <br /> &nbsp;&nbsp;&nbsp;by Herbert Schildt</p><br /><br /><p align="right"><a href="#">REMOVE</a></p></th>
					<th class="qty_value_cell"><input class="qty_value" type="text" name"qty_value" align="top"/></th>
					<th class="price_value_cell"> RS 451.00</th>
					<th align="left" class="delivery_value_cell"><font color="#0066CC">FREE</font> <br />Delivered in 6-7 business days.</th>
					<th class="price_value_cell"> RS 475.00</th>
				</tr> 
				<tr>
				<th class="total" colspan="5"><p align="right" class="rightpadding">Total Saving : Rs. 0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Estimated Total : <font size="+1">475.00</font></p></th>
				
				</tr>
				
				</table>
		</div>
		<br />
		<div class="placeorder">
			<div class="pin">
				<div class="">
				<input class="pinvalue" type="text" name="pinvalue" title="Enter Pincode" />
				</div>
				<div class="pinbutton">
				<input type="button" class="pincheck" name="pincheck"/></div>
			</div>
			<div class="order">
				<input type="button" name="backtoshopping" class="BTS" value=" << Back To Shopping" />
				<input type="button" class="paymentorder" name="placeorder" />
				
		</div>		
	  </div>
	  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<!-- End of Place Order -->
		<!-- Content -->
		<div id="content">
  </div>
			<div class="cl">&nbsp;</div>
		</div>
		<!-- End Content -->
		<div class="cl">&nbsp;</div>
	</div><!-- Be
	<!-- End Main -->
	<!-- Footer -->
	<div id="footer" class="shell">
		<div class="top">
			<div class="cnt">
				<div class="col about">
					<h4>About BestSellers</h4>
					<p>Nulla porttitor pretium mattis. Mauris lorem massa, ultricies non mattis bibendum, semper ut erat. Morbi vulputate placerat ligula. Fusce <br />convallis, nisl a pellentesque viverra, ipsum leo sodales sapien, vitae egestas dolor nisl eu tortor. Etiam ut elit vitae nisl tempor tincidunt. Nunc sed elementum est. Phasellus sodales viverra mauris nec dictum. Fusce a leo libero. Cras accumsan enim nec massa semper eu hendrerit nisl faucibus. Sed lectus ligula, consequat eget bibendum eu, consequat nec nisl. In sed consequat elit. Praesent nec iaculis sapien. <br />Curabitur gravida pretium tincidunt.  </p>
				</div>
				<div class="col store">
					<h4>Store</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Special Offers</a></li>
						<li><a href="#">Log In</a></li>
						<li><a href="#">Account</a></li>
						<li><a href="#">Basket</a></li>
						<li><a href="#">Checkout</a></li>
					</ul>
				</div>
				<div class="col" id="newsletter">
					<h4>Newsletter</h4>
					<p>Lorem ipsum dolor sit amet  consectetur. </p>
					<form action="" method="post">
						<input type="text" class="field" value="Your Name" title="Your Name" />
						<input type="text" class="field" value="Email" title="Email" />
						<div class="form-buttons"><input type="submit" value="Submit" class="submit-btn" /></div>
					</form>
				</div>
				<div class="cl">&nbsp;</div>
				<div class="copy">
					<p>&copy; <a href="#">BestSeller.com</a>. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
</html>