<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all" />
	<script type="text/javascript" src="/assets/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.jcarousel.min.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/png-fix.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/assets/functions.js"></script>
</head>
<body>
	<!-- Header -->
	<div id="header" class="shell">
	  <div id="logo"><h1><a href="#">BestSeller</a></h1>
	  </div>
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Promotions</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		<div class="cl">&nbsp;</div>
		<!-- Login-details -->
		<label>Welcome</label> <label id="uname">Username!</label></br>
		<a href="">Logout</a>
		<!-- End Login-details -->
	</div>
	
	<!-- End Header -->
	
	
	<!-- Main -->
<div id="main" class="shell">
		<!-- Sidebar -->
		<div id="sidebar">
			<h4>Profile</h4>
			<br>
			<a href="" style="color:#0182b5;font-size:14pt">View Order History</a>
			
	  </div>
		<!-- End Sidebar -->
		<!-- Content -->
		<div id="content">
			<h3>Account Information</h3>
		<label style="color:#0182b5;font-size:12pt">Name:</label> <label id="name" style="font-size:12pt">Rahul Salot</label><br>
		<label style="color:#0182b5;font-size:12pt">Email-Id:</label> <label id="email" style="font-size:12pt">rahulsalot@gmail.com</label><br>
		<label style="color:#0182b5;font-size:12pt">Address 1:</label> <p id="address1">Address Address Address<p><br>
		<label style="color:#0182b5;font-size:12pt">Address 2: <p id="address2" >Address 2 Address 2 Address 2 </p><br>
		<label style="color:#0182b5;font-size:12pt">Contact no. 1:</label> <label id="contact1">123876123871</label><br>
		<label style="color:#0182b5;font-size:12pt">Contact no. 2:</label> <label id="contact2">124214473824</label><br>
		<label style="color:#0182b5;font-size:12pt">DOB:</label> <label id="dob">12/1/90</label><br><br>
		<input type="button" value="Edit Information" style="color:blue; font-size:14pt">
  </div>
 
			<div class="cl">
			</div>
			
		</div>
		
		<!-- End Content -->
		<div class="cl">&nbsp;</div>
	</div><!-- Be
	<!-- End Main -->
	<!-- Footer -->
	<div id="footer" class="shell">
		<div class="top">
			<div class="cnt">
				<div class="col about">
					<h4>About BestSellers</h4>
					<p>Nulla porttitor pretium mattis. Mauris lorem massa, ultricies non mattis bibendum, semper ut erat. Morbi vulputate placerat ligula. Fusce <br />convallis, nisl a pellentesque viverra, ipsum leo sodales sapien, vitae egestas dolor nisl eu tortor. Etiam ut elit vitae nisl tempor tincidunt. Nunc sed elementum est. Phasellus sodales viverra mauris nec dictum. Fusce a leo libero. Cras accumsan enim nec massa semper eu hendrerit nisl faucibus. Sed lectus ligula, consequat eget bibendum eu, consequat nec nisl. In sed consequat elit. Praesent nec iaculis sapien. <br />Curabitur gravida pretium tincidunt.  </p>
				</div>
				<div class="col store">
					<h4>Store</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Special Offers</a></li>
						<li><a href="#">Log In</a></li>
						<li><a href="#">Account</a></li>
						<li><a href="#">Basket</a></li>
						<li><a href="#">Checkout</a></li>
					</ul>
				</div>
				<div class="col" id="newsletter">
					<h4>Newsletter</h4>
					<p>Lorem ipsum dolor sit amet  consectetur. </p>
					<form action="" method="post">
						<input type="text" class="field" value="Your Name" title="Your Name" />
						<input type="text" class="field" value="Email" title="Email" />
						<div class="form-buttons"><input type="submit" value="Submit" class="submit-btn" /></div>
					</form>
				</div>
				<div class="cl">&nbsp;</div>
				<div class="copy">
					<p>&copy; <a href="#">BestSeller.com</a>. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
</html>